body {

/* first lesson*/

background-color: #eeeeee;

}

header {

/* first lesson*/

background-color: brown;

/*fifth lesson*/

display: flex;

justify-content: space-between;

align-items: center;

}

nav{
    background-color: aquamarine;
    position: sticky;
    top:0;
    z-index: 2;

    display: flex;
    justify-content: center;
}

#intro {
    background-color: lightpink;
    font-family: airel ,joker;
    text-align: center;
}
.main-section-content h2 {
    background-color: darkkhakhi;
    font-family: Airel,joker;
    padding: 5px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
}
#bestsellers,
footer{
    background-color: lightorange;
}
header
nav
#intro
.main-section-content
#bestsellers
footer {
    border :1px solid black;
}
header
nav
#main-section-content{
    border-radius:10px;
}
h1{
    background-color: #eeeeee;
    font-size: 50px;
    font-family: Airel,joker;
    margin: 30px;
}
h2
p{ color: #3333;

}
table
th,
td{
    border :1px solid black;
}
tr:last-child{
color : red;
}
span{
    color: blue;
}


footer p::last-child span {
    color : red;
}
.teacher-info{
    border-radius: 5px;
    margin: 10px;
    width: 400px;
    box-shadow: 6px 0px 21px -3px #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    background-color:red;
    color:#eeeeee;
    font-size: 20px;
    font-wieght: bold;
    padding: 5px;
    border-radius: 5px;
    border:none;
    position: fixed;
    right: 40px;
    bottom: 50px;
}
ul{
    life-style-type: none;
}
li a {
    text-decoration: none;
    color: #3333;
    font-size: 20px;
    font-wieght: 600;
}
li a:hover {
    color:red;
}
p {
    font-size:18px
}
h3 {
    font-size: 20px;
    font-family: airel,joker;
    text-decoration: underline;
}
nav li {
    margin: 10px;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
}
.teacher-info div::last-child{
    margin-left:50px;
}
.main-section-content{
    padding: 20px;
}
table{
    margin: auto;
}
th
td,{
    padding:10px;
}
footer{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items; center;
}
#best-seller h2{
    padding: 20px;
}
ol li{
    margin-bottom: 20px
}
#bookreview p,
#bookreview h3{
    position: relative;
    left: 40%;
    width: 400px;
}
#videos div {
 display: flex;
 justify-content: space-around;
}
#teacher{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    display:flex;
    justify-content:space-around;
}